<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Estudantes</title>
  </head>
  <body>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Curso</th>
        <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for aluno in alunos %}
            <tr>
            <th scope="row">{{aluno.pk}}</th>
            <td>{{aluno.name}}</td>
            <td>{{aluno.course}}</td>
            <td>
                <a href="{% url "studant_read" aluno.pk %}" class="btn btn-primary">Ver</a>
                <a href="{% url "studant_update" aluno.pk %}" class="btn btn-warning">Editar</a>
                <a href="{% url "studant_delete" aluno.pk %}" class="btn btn-danger">Excluir</a>
            </td>
            </tr>
        {% empty %}
            <tr>
                <td>Sem resultados</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="{% url "studant_create" %}" class="btn btn-success">Novo</a>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>